<section class= "contacts"> 
    {% include usability-heading.liquid 
        text = "Reach Us" 
    %} 
    
    {% include link.liquid 
        text = "Send Message" 
    %} 

    {% include social-links.liquid 
        entries = site.data.social_links 
    %} 
</section> 
